<div class="contact-container col-6">
  <div class="contact-banner">
    <h3 class="contact-title" style="font-size: 2.5vw;">Let's talk!</h3>
  </div>

  <div class="contact-content">
    <div>
      <p style="font-size: 1.75vw;">If you are interested in hiring me or discussing a project, contact me at:</p>
      <div class="contact-info" >
        <h3 style="font-size: 2vw"><i class="far fa-envelope" id="envelope"> </i>serenaud89@gmail.com</h3>
        <h3 style="font-size: 2vw"><i class="fas fa-phone" id="phone"></i>+1 832-269-4278</h3>
      </div>
    </div>
    <div>
    <%= image_tag "mirage-message-sent.png", class: "img-contact" %>
    </div>
  </div>

</div>

