.contact-container {
  background-color: #FFFFFF;
  border-radius: 6px;
  overflow: auto;
  box-shadow: 0 1px 15px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 30px auto 60px;
  padding: 0;
  object-fit: contain;

}

.contact-banner {
  width: 100%;
  background-color: rgba(147, 171, 191, 0.9);
  position: absolute;
}

.contact-title {
  color: #FFFFFF;
  padding: 30px 20px;
  font-weight: lighter;
}

.contact-content {
  //max-height:300px;
  height: 100%;
  margin-top: 110px;
  //margin-right: 1vw;
  padding: 20px;
  display: flex;
  //font-size: 100%;
  overflow: visible;
  float: right;


}

.contact-info {
  position: absolute;
  display: grid;

}

.img-contact {
  height: auto;
  //width: auto;
  //max-height: 275px;
  width: 20vw;



}

#envelope {
  font-size: 19px;
  color: black;
  opacity: .5;
  width: auto;


}

#phone {
  font-size: 19px;
  color: black;
  opacity: .5;
}


