.footer {
  background: #FFFFFF;
  display: block;
  align-items: center;
  justify-content: space-between;
  height: 160px;
  color: rgba(0,0,0,0.3);
  //bottom: 0;
  position: absolute;
  min-width: 100%;
  text-align: center;
  flex-grow: 1;

}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-links a {
  color: black;
  opacity: 0.4;
  text-decoration: none;
  font-size: 32px;
  margin-top: 5px;

}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 0;
  text-align: -webkit-auto;
  justify-content: center;
  position: absolute;
}

.in-touch {
  display: contents;
  width: 200px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 28px;
  justify-content: center;

}
